{% if ABOUT_ME %}
<div class="panel panel-default">
    <!-- <div class="panel-heading"><i class="fa fa-user"></i></div> -->
    <div class="panel-body">
      <div class="col-xs-5">
        <img class="img-rounded" src="/theme/images/author.gif" alt="..." width="100%" height="100%"/>
        {% if AUTHOR %}<h4>{{ AUTHOR }}</h4>{% endif %}
        <ul class="list-inline">
        {% include '_includes/social_info.html' %}
        </ul>
      </div>
      <div class="col-xs-7">
        {{ABOUT_ME}}
      </div>
    </div>
</div>
{% endif %}