{% if article.toc %}
<div id="toc">
  <div class="panel panel-default">
    <div class="panel-body nav">
    {% if article.series %}
      <ul class="parts">
        {% for part_article in article.series.all %}
          <li {% if part_article == article %}class="active"{% endif %}>
            <a href='{{ SITEURL }}/{{ part_article.url }}'>
              {{ part_article.title }}
            </a>
            {% if part_article == article %}
              {{ article.toc }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      {{ article.toc }}
    {% endif %}
    </div>
  </div>
</div>
<script type="text/javascript">
  $('body').scrollspy();
  $('.toc a').each(function(){
    $(this).attr({"data-toggle":"tooltip",
                "data-placement":"top",
                "title":$(this).text()
                });
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
    });
  });
</script>
{% endif %}