{% if article.toc %}
<div id="toc">
<div class="panel panel-default">
  <!-- <div class="panel-heading"><i class="fa fa-list-ul"></i></div> -->
  <div class="panel-body nav">
    {{ article.toc }}
  </div>
</div>
</div>
<script type="text/javascript">
  $('body').scrollspy();
  $('.toc a').each(function(){
    $(this).attr({"data-toggle":"tooltip",
                "data-placement":"top",
                "title":$(this).text()
                });
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
    });
  });
</script>
{% endif %}