body,
html {
    height: 100%;
    width: 100%;
    padding-top: 10px;
}

#container {
    min-height: 100%;
    margin-bottom: -30px;
}

#center_page > div > header {
    border-bottom:3px dotted #F00;
    border-right:0;
    border-left:0;
    width:100%;
}

/*index*/
#content {
    margin-top: 30px;
}

/*post-list*/
#posts-list > li > article > div.entry-content > p > img {
    display: block;
    max-width: 100%;
    height: auto;
}
#posts-list > li > article > div.row > div.comment-count.col-md-3 {
    padding-top: 0.5em;
}
#posts-list > li > article > div.row > div.comment-count.col-md-3 > i {
    padding-right: 5px;
    font-size: 1.5em;
}


/*article*/
#content > article > div.comments {
    margin-top: 50px;
}

/*tags*/
#center_page > div > div > ul > li > time {
    padding-right: 5px;
}
#center_page > div > div > ul > li > a > span {
    margin-left: 5px;
}
/*sidebar_left*/
#sidebar_left {
    margin-top: 50px;
}
.list-inline li {
    padding-right: 0;
}
.list-inline i {
    font-size: 1.3em;
}
#sidebar_left > div > div.panel-body > ul > li > div {
    height: 220px;
    width: 200px;
}
#sidebar_left > div > div.panel-body > ul > li > div > h3 {
    text-align:center;
}
#sidebar_left > div > div.panel-heading > i {
    font-size: 1.5em;
}
/*sidebar_right*/
#sidebar_right {
    margin-top: 20px;
}


/*Fotter*/
.push,
#footer {
    border-top: 1px solid #00FFFF;
    height: 30px;
    clear: both;
}
ul.footer-content {
    list-style: none;
    margin: -1px 0 0 0;
    padding: 5px 5px 0;
    display: table;
    height: 30px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
ul.footer-content li {
    padding-left: 5px;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}
.elegant-power {
    text-align: right;
}
.elegant-license {
    text-align: left;
}
.elegant-subtitle {
    text-align: left;
}
