body,
html {
    height: 100%;
    padding-top: 25px;
}

#container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -20px;/*margin-bottom的负值等于footer高度*/
}

<<<<<<< HEAD
/*post-list*/
#posts-list > li > article > div.row > div.comment-count.col-md-3 {
    padding-top: 1em;
}
#posts-list > li > article > div.row > div.comment-count.col-md-3 > i {
    padding-right: 5px;
    font-size: 1.5em;
}

=======
>>>>>>> 770bd6bd4a40f259420cd8b9401ef2c594f5176d
/*article*/
#content > article > hr {
    border:3px dotted #F00;
    border-bottom:0;
    border-right:0;
    border-left:0;
    width:100%;
}
<<<<<<< HEAD
#content > article > div.comments {
    margin-top: 50px;
}
=======
>>>>>>> 770bd6bd4a40f259420cd8b9401ef2c594f5176d

/*sidebar_left*/
#sidebar_left {
    margin-top: 20px;
}
.list-inline li {
    padding-right: 0;
}
.list-inline i {
    font-size: 1.3em;
}
#sidebar_left > div > div.panel-body > ul > li > div {
    height: 220px;
    width: 200px;
}
#sidebar_left > div > div.panel-body > ul > li > div > h3 {
    text-align:center;
}
#sidebar_left > div > div.panel-heading > i {
    font-size: 1.5em;
}
/*sidebar_right*/
#sidebar_right {
    margin-top: 20px;
}


/*Fotter*/
.push,
#footer {
    border-top: 1px solid #00FFFF;
    height: 20px;
    clear: both;
}
ul.footer-content {
    list-style: none;
    margin: -1px 0 0 0;
    padding: 2px 5px 0;
    display: table;
    height: 45px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
ul.footer-content li {
    padding-left: 5px;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}
.elegant-power {
    text-align: right;
}
.elegant-license {
    text-align: left;
}
.elegant-subtitle {
    text-align: left;
}