{% extends 'base.html' %}

{% block title %}
All Posts · {{ super() }}
{% endblock title %}


{% block content %}

<div class="row">
    <div class="col-md-2 text-center">
    <h1><a href="{{ SITEURL }}/archives.html">All Posts</a></h1>
    </div>
</div>
<hr>
{% set last_year = 0 %}
{% for article in dates %}
{% set year = article.date.strftime('%Y') %}
{% if last_year != year %}
    <div class="row" id="post-row">
        <div class="col-md-2">    
            <h2 class="text-center" id={{ year}}><i class="fa fa-pencil-square-o" id="archives-year-icon"></i><a href="#{{ year }}">{{ year }}</a></h2>
        </div>
        <div class="col-md-10">
            <ul class="list-unstyled" id="archives-ul">
            {% for article in dates %}
            {% if article.date.strftime('%Y') == year %}
            <li class="text-left" id="archives-list">
            <div class="row">
            <div class="col-xs-8"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }} {%if article.subtitle %} <small> {{ article.subtitle }} </small> {% endif %}</a></div>
            <div class="col-xs-4"><time class="pull-right" pubdate="pubdate" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></div>
            </div>
            </li>
            {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
{% set last_year = year %}
{% endif %}
{% endfor %}
{% endblock content %}
