{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}

{% block meta_tags_in_head %}
{{ super() }}
{% if article.tags or article.category or article.keywords %}
<meta name="keywords" content="{{ [article.tags|join(', '), article.category, article.keywords]|join(', ') }}" />
{% endif %}
{% endblock meta_tags_in_head %}

{% block content %}
<section id="content" class="body">
  <article>
    <div class="panel panel-default">
      <div class="panel-body">
        <header>
          <h2 class="entry-title">
            <a href="/{{ article.url }}" rel="bookmark"
               title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
        </header>
        <hr/>
        <div class="entry-content">
          {{ article.content }}
        </div><!-- /.entry-content -->
        {% if article.series %}
        <div>
        {% if article.series.previous.url %}
          <a class="btn btn-default" style="float:left;width:100px" href="/{{ article.series.previous.url }}">
            Previous
          </a>
        {% endif %}
        {% if article.series.next.url %}
          <a class="btn btn-default" style="float:right;width:100px" href="/{{ article.series.next.url }}">
            Next
          </a>
        {% endif %}
        </div>
        {% endif %}

        <div class="social-share" data-sites="weibo,facebook,twitter"></div>
        <link rel="stylesheet" href="/{{ THEME_STATIC_DIR }}/css/share.min.css">
        <script src="/{{ THEME_STATIC_DIR }}/js/jquery.share.min.js"></script>
        
        {% if DISQUS_SITENAME and SITEURL and article.status != "draft" %}
        <div class="comments">
          <div id="disqus_thread"></div>
          <script type="text/javascript">
              var disqus_shortname = '{{ DISQUS_SITENAME }}';
              var disqus_config = function () {
                  this.page.url = '{{ SITEURL }}/{{ article.url }}';
                  this.page.identifier = '/{{ article.url }}';
                  this.page.title = '{{ article.title|striptags }}';
              };
              (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
                  var d = document, s = d.createElement('script');
                  s.src = '//' + disqus_shortname + '.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!
                  s.setAttribute('data-timestamp', +new Date());
                  (d.head || d.body).appendChild(s);
              })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
        {% endif %}
    </div>
  </div>      
    {% if article.related_posts %}
    <div class="panel panel-default">
      <div class="panel-heading">Related posts</div>
      <div class="panel-body">
        <ul class="list-unstyled">
        {% for related_post in article.related_posts %}
        <li><a href="/{{ related_post.url }}">{{ related_post.title }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}

  </article>
</section>
{% endblock %}

{% block sidebar_left_div %}
<div class="col-md-2 hidden-xs hidden-sm" id="sidebar_left">
  {% include '_includes/toc.html' %}
</div>
{% endblock %}

{% block sidebar_right %}
      {% include '_includes/article_infos.html' %}
{% endblock%}

{% block script %}
<script type="text/javascript">
    function setTocClass() {
        var f = document.getElementById("toc");
        if (f != null) {
          f.classList.add("art-toc");
        };
    };
    window.onload = setTocClass();
</script>
{% endblock %}